// vars
$defaultColor:#FFBF00;
$secondaryColor:#333;
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
section {
    width: 50%;
    height: 50%;
    margin: auto;

    form {
        margin: auto;

        .bottom {
            display: inline-flex;
            width: 50%;
            justify-content:space-between ;
            align-items: center;
        }

        input {
            outline: none;
            border-radius: 10px;
            display: block;
            border: 2px solid $secondaryColor;

            // & is a scss representation for "this" :not() is a selector i used to use.
            &:not([type="submit"]):not([type="checkbox"]) {
                padding: 1%;
                width: 50%;
                margin-bottom: 2%;

                &:hover {
                    border: 2px $defaultColor solid;
                }
            }

            &[type="checkbox"] {
                display: inline-block;
                width: 15px;
                height: 15px;
            }

            &[type="submit"] {
                width: 25%;
                display: inline-block;
                padding: 10px;
                appearance: none;
                font-weight: bold;
                background: none;
                &:hover {
                    background-color: $defaultColor;
                    color: $secondaryColor
                }
            }
        }
    }
    .signupSection{
        a{
            text-decoration: none;
            &:hover{color: $defaultColor}
            color:#333;
        }
    }
}